// Remove the document content label and give more space to radio buttons.
#page-local-lpi-detailed_review {
    #detailed-review-form {
        .document_content_field {
            .col-md-3 {
                 display: none;
            }
            .col-md-9 {
                 width: 95%;
            }
            label {
                font-weight: bold;
            }
            em {
                display: block;
                font-size: 0.8em;
                margin-left: 18px;
                margin-bottom: 0.8em;
                font-style: normal;
            }
        }
    }
}
