/** this is completely temporal **/
.gdlpi-link {
    display: inline;
}

.authz_notprocessed {
    color: lightcoral;
}

/** review-page **/
.massive-actions {
    margin-top: 1em;
}
.files-to-review h3 {
    margin-bottom: 1em;
    margin-top: 1em;
}

.files-to-review table tbody tr td {
    vertical-align: middle;
}
.files-to-review table .file-metadata-actions input[type="button"],
.files-to-review table .file-metadata-actions input[type="submit"] {
    margin-left: 0.5em;
}
.files-to-review table .activities {
    font-size: 0.8em;
    font-style: oblique;
    margin-left: 0.5em;
}

.lpi-pending-table-row-selected {
    background-color: lightyellow !important;
}

/*** notification ***/
.local-lpi-notification h1 {
    font-size: 1.5em;
    font-weight: bold;
}

/*** detailed-review-page ***/

.file-metadata-detailed-review-page .file-metadata-detailed-review-navigation {
    position: absolute;
    top: 0px;
    height: 85px;
    width: 100%;

    border-bottom: 1px solid #ddd;

    background-color: white;
    display: block;

    padding: 0.5em;
    overflow: hidden;
    box-sizing: border-box
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-navigation [data-region="file-info"] {
    float: left;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-navigation [data-region="module-info"] {
    width: 25%;
    float: left;
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-navigation [data-region="file-navigation"] i {
    font-size: 2em;
    overflow: hidden;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-navigation [data-region="file-state"] {
    width: 25%;
    text-align: right;
    float: left;
    vertical-align: middle;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-navigation [data-region="file-state"] p {
    margin-bottom: 0;
}

.file-metadata-detailed-review-page .file-metadata-detailed-review-navigation .file-previous {
    display: inline-block;
    text-align: right;
    color: #888;
    font-size: 0.9em;
    vertical-align: middle;
    cursor: pointer;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-navigation .file-previous.hidden {
    visibility: hidden;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-navigation .file-next {
    display: inline-block;
    text-align: left;
    color: #888;
    vertical-align: middle;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: 0.5em;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-navigation .file-next.hidden {
    visibility: hidden;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-navigation [data-region="file-info"] .file-info {
    display: inline-block;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-navigation [data-region="file-info"] .modinfo {
    font-size: 0.8em;
    color: #888;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-navigation [data-region="file-info"] .filename {
    font-size: 1.2em;
}

.file-metadata-detailed-review-page .file-metadata-detailed-review-content {
    box-sizing: border-box;
    position: absolute;
    top: 85px;
    bottom: 30px;

    width: 100%;

    background-color: #f2f2f2;
}

.file-metadata-detailed-review-page .ui-resizable-handle {
    width: 10px;
    background-color: white;
}

.file-metadata-review-panel-resizable {
    box-sizing: border-box;
    position: absolute !important;
    overflow: hidden;
    left: 50%;
    top: 0px;
    bottom: 0px;
    border: 0px;
    padding: 0px;
}

.file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-panel {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-left: 1px solid #ddd;
    padding: 2em;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-panel h3 {
    margin-bottom: 1em;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-panel .file-metadata-form input[type=text],
.file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-panel .file-metadata-form textarea,
.file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-panel .file-metadata-form select
{
    width: 100%;
}

.file-metadata-detailed-review-page .file-metadata-detailed-review-preview-container {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 50%;
    height: 99%;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-preview-navigation {
    text-align: center;
    background-color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #f2f2f2;
    overflow-x: hidden;
}

.file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-preview {
    overflow-y: auto;
    background-color: #ccc;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-preview .file-preview {
    width: 100%;
    margin-top: 2em;
    text-align: center;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-preview .file-preview .file-preview-canvas {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 20px gray;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-preview .file-preview img {
    max-width: 80%;
}

.file-metadata-detailed-review-page .file-metadata-detailed-review-footer {
    position: absolute;
    bottom: 0px;

    height: 30px;
    background-color: white;
    width: 100%;
    text-align: left;
    padding-left: 1em;
    line-height: 30px;

    border-top: 1px solid #ddd;
}

.file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-preview .file-preview-nopreview {
    background-color: #777;
    color: #f5f5f5;
    padding: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    vertical-align: middle;
}
.file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-preview .file-preview-nopreview i.clip {
    font-size: 3em;
    padding: 0.5em;
    border-radius: 0.2em;
    border: 1px solid #eee;
    margin-bottom: 0.5rem;
}
#page-local-lpi-detailed_review #user-notifications {
    position: absolute;
    z-index: 30000;
}

.file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-preview .file-preview-nopreview p {
    margin: 0px;
}

.file-preview-nopreview a {
    margin-top: 0.5rem;
}

.form_metadata_hidden {
    display: none;
}

@media ( max-width: 765px ) {
    .ui-resizable-handle {
        display: none !important;
    }
    .file-metadata-detailed-review-page .file-metadata-review-panel-resizable {
        position: relative !important;
        left: 0px !important;
        top: 0px;
        bottom: 0px;
        width: 100% !important;
    }
    .file-metadata-detailed-review-page .file-metadata-detailed-review-content {
        position: relative !important;
        top: 0px !important;
    }
    .file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-panel {
        box-sizing: border-box !important;
        position: relative !important;
        top: 0px !important;
        left: 0px !important;
        bottom: 0px !important;
        right: 0px !important;

        float: right;
        width: 100% !important;

        background-color: #f2f2f2;
    }

    .file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-preview-container {
        position: relative;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;

        float: right;
        width: 100% !important;
    }

    .file-metadata-detailed-review-page .file-metadata-detailed-review-footer {
        position: fixed;
        bottom: 0px;
        height: 40px;
    }
    .file-metadata-detailed-review-page .file-metadata-detailed-review-content .file-metadata-detailed-review-preview {
        padding-bottom: 200px;
    }

    .file-metadata-detailed-review-page .file-metadata-detailed-review-navigation {
        height: auto;
        position: relative;
        display: block;
    }
    .file-metadata-detailed-review-page .file-metadata-detailed-review-navigation [data-region="file-info"] {
        float: none;
        width: 100%;
        text-align: center;
    }
    .file-metadata-detailed-review-page .file-metadata-detailed-review-navigation [data-region="module-info"] {
        width: 100%;
        float: none;
        text-align: center;
    }
    .file-metadata-detailed-review-page .file-metadata-detailed-review-navigation [data-region="file-state"] {
        width: 100%;
        float: none;
        text-align: center;
    }
}

.radio-helpbutton-container {
    display: table-cell;
    position: relative;
    top: -4px;
}

.file-metadata-detailed-review-panel .file-metadata-form em {
    margin-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.path-local-lpi .form-check-label {
    font-weight: bold;
}