{{!
    @template loca_lpi/review/detailed_review_navigation.mustache

    The detailed review navigation.

    Context variables:
    * modtitles. The titles of the related modules.

    * filename. The filename.
    * fileurl. The url of the file.
    * reviewurl. The url for the review page.
    * state. The authorization state of the file.
    * state_desc. The description of the state.
    * isnotprocessed. If the state is not processed.
}}

<div data-region="module-info">
    <a href="{{{reviewurl}}}" title="{{#str}}returntoreview, local_lpi{{/str}}">{{#str}}returntoreview, local_lpi{{/str}}</a>
</div>

<div data-region="file-info">
    <div class="file-info">
        <a href="{{{fileurl}}}" target="_new" class="filename">{{filename}}</a>
        <br />
        <p class="modinfo" id="modinfo">{{#str}} context, role {{/str}}: {{modtitles}}</p>       
    </div>
</div>

<div data-region="file-state">    
    <p title="{{state_desc}}">
        {{#str}} realstate, local_lpi {{/str}}: 
        {{#isnotprocessed}}<span class="authz_notprocessed">{{/isnotprocessed}}
        {{state}}
        {{#isnotprocessed}}</span>{{/isnotprocessed}}
    </p>       

    <div class="file-previous">
        <a href="#">&lt; {{#str}} previous, local_lpi {{/str}}</a>
    </div>
    <div class="file-next">
        <a href="#">{{#str}} next, local_lpi{{/str}} &gt;</a>
    </div>
</div>
