{{!
    @template local_lpi/detailed_review_page

    It shows the document preview and the filemetadata page. The id of the form
    MUST be detailed-review-form for this page.

    Context variables:
    * availablepreview. If we have an available preview.
    * review_navigation. The detailed_review_navigation renderable.
    * form. The file_metadata_form to render.
    * file_preview. A file_preview renderable data.
    * fileids. An array of ints with fileids to navigate.
    * current_fileid. The current fileid to show.
    * tourreset. A tour reset link.
}}
<div class="file-metadata-detailed-review-page">

    <div class="file-metadata-detailed-review-navigation">

        {{#review_navigation}}
            {{> local_lpi/detailed_review_navigation}}
        {{/review_navigation}}

    </div>

    <div class="file-metadata-detailed-review-content">

        <div class="file-metadata-review-panel-resizable">
            <div class="file-metadata-detailed-review-panel">
                <h3>{{#str}} processform, local_lpi{{/str}}</h2>

                {{{form}}}
            </div>
        </div>


        <div class="file-metadata-detailed-review-preview-container">

            <div class="file-metadata-detailed-review-preview-navigation" role="navigation">
                <button class="btn btn-secondary navigate-previous-button fa fa-arrow-left" accesskey="j" {{^file_preview.preview_possible}}disabled{{/file_preview.preview_possible}}></button>
                <select class="custom-select navigate-page-select" aria-label="Go to page" class="navigate-page-select" accesskey="k" {{^file_preview.preview_possible}}disabled{{/file_preview.preview_possible}}></select>
                <button class="btn btn-secondary navigate-next-button fa fa-arrow-right" accesskey="l" {{^file_preview.preview_possible}}disabled{{/file_preview.preview_possible}}></button>
            </div>

            <div class="file-metadata-detailed-review-preview">
                {{#file_preview}}
                    {{> local_lpi/file_preview}}
                {{/file_preview}}
            </div>
        </div>

    </div>

    <div class="file-metadata-detailed-review-footer">
        <div class="tool_usertours-resettourcontainer"></div>
    </div>
</div>
