{{!
    @template local_lpi/doubt_modal

    A template for the modal to ask doubts.

    Context variables:
    * fileinfo. An array of file information with the following fields.
        * fileid. The id of the file.
        * filename. The name of the file.
    * useremail. El email del usuario a quien se enviará copia de la duda.
}}
<div class="doubt-dlg-content">
    <p>{{#str}} doubt_modal_desc, local_lpi,  { "useremail": "{{useremail}}" }{{/str}}</p>

    <form>
        <label for="filename">{{#str}} filename, local_lpi{{/str}}</label>
        <select class="form-control">
            {{#fileinfo}}
                <option value="{{fileid}}">{{filename}}</option>
            {{/fileinfo}}
        </select>

        <label for="doubt">{{#str}} doubt, local_lpi{{/str}}</label>
        <textarea class="form-control" rows="10" id="doubt"></textarea>
    </form>
</div>
    