{{!
    @template local_lpi/file_preview

    A preview for PDF files

    Context variables:
    * file_url. The url for the file.
    * is_pdf. If it's a PDF.
    * is_image. If it's an image.
    * filename. The filename.
}}
<div class="file-preview container-fluid">

    {{#preview_possible}}

        {{#is_pdf}}
            <canvas class="file-preview-canvas hidden" data-fileurl="{{file_url}}">
            </canvas>
        {{/is_pdf}}

        {{#is_image}}
            <img class="file-preview-image" src="{{file_url}}" alt="{{#str}} filepreview, local_lpi {{/str}}" />
        {{/is_image}}

    {{/preview_possible}}

    {{^preview_possible}}
        <div class="file-preview-nopreview align-middle">
            <i class="fa fa-paperclip clip" aria-hidden="true"></i>
            <p>{{filename}}</p>
            <p>{{#str}} nofilepreview, local_lpi {{/str}}</p>
            <p>{{#str}} downloadtoopen, local_lpi {{/str}}</p>

            <a class="btn btn-secondary" href="{{file_url}}">
                <i class="fa fa-download"></i> Descargar
            </a>
        </div>
    {{/preview_possible}}

</div>