{{!
    @template local_lpi/pending_file

    A template to represent a file inside the pending_table renderable.

    Context variables:
    * icon. The icon url for the file.
    * filename. The filename
    * fileurl. The file url.
    * activities. A list of comma separated list of activities and sections.
}}
<a href="{{fileurl}}" title="{{#str}} file {{/str}}: {{filename}}">
    {{#pix}}{{icon}} {{/pix}}

    <span class="instancename">{{filename}}</span>
</a>
<div class="activities">{{activities}}</div>
