{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_lpi\pending_files_notification

    A template used when a notification about pending files to review is 
    shown.

    Context variables required:
    * course. The course name.
    * reviewurl. The url to the review page.
    * moreinfourl. URL for the more info link.
}}
<div class="local-lpi-notification">
    <h1>{{#str}} pendingalerttitle, local_lpi {{/str}}</h1>

    <p>
        {{#str}}pendingfilesnotification, 
                local_lpi, 
                { 
                    "coursefullname": "{{course}}", 
                    "reviewurl": "{{reviewurl}}",
                    "moreinfourl": "{{moreinfourl}}"
                }{{/str}}
    </p>
    <p class="local-lpi-notification-button"><a class="btn btn-secondary" href="{{reviewurl}}">{{#str}}beginreview, local_lpi{{/str}}</a></p>
</div>
