{{!
    @template local_lpi/pending_table_col_action

    The template for the action column.

    Context variables:
    * reviewurl
    * courseid
    * metadataid
    * filename
    * reviewdisabled
    * reviewhelp
    * doubtdisabled
    * doubthelp
    * uniqueid
    * useremail
}}

<input 
    type="button" 
    {{#reviewdisabled}} disabled {{/reviewdisabled}}
    class="btn btn-primary" 
    data-action="review"
    data-courseid="{{courseid}}"
    data-contenthash="{{uniqueid}}"
    value="{{#str}}manage, local_lpi{{/str}}" />

<input 
    type="button" 
    {{#doubtdisabled}} disabled {{/doubtdisabled}}
    title="{{doubthelp}}"
    class="btn btn-secondary doubt"
    data-action="senddoubt"
    data-courseid="{{courseid}}"
    data-contenthash="{{uniqueid}}"
    data-filename="{{filename}}" 
    data-useremail="{{useremail}}"
    value="{{#str}}doubt, local_lpi{{/str}}" />

