{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_lpi/reviewpage

    The files-to-review page used to review pending files for LPI

    Context variables:
    * guideurl. The url of the help guide.
    * filterform. The form used to filter.
    * massiveactionsform. The massive actions form.
    * pendingtable. The html of the pending table.
}}

<div class="files-to-review">
   
    <p>{{#str}}review_page_description, local_lpi, {{guideurl}}{{/str}}</p>

    {{{pendingtable}}}

    <div class="massive-actions">        
        {{{massiveactionsform}}}
    </div>

    <div class="files-to-review-filters">
        {{{filterform}}}
    </div>
</div>
